# 1.0 Download data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

import utils.paths as path
from utils.paths2 import direcciones

In [4]:
# Crear los de drive
G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones('temperature')

In [13]:
# read data
df = pd.read_csv(path.data_raw_dir('osb_temperatura.csv'), sep=';', decimal=',', encoding = 'latin1')
# df = pd.read_csv(G_raw/'osb_temperatura.csv', sep=';', decimal=',', encoding = 'latin1')
df.head()

,Año,Mes,Temperatura Máxima,Temperatura Mínima,Temperatura promedio,Enos
0,2007,Enero,26.4,4.4,14.11,Niño
1,2007,Febrero,25.4,-4.6,13.48,Neutro
2,2007,Marzo,24.0,5.1,14.23,Neutro
3,2007,Abril,23.0,6.6,14.75,Neutro
4,2007,Mayo,21.9,5.9,13.26,Neutro

In [14]:
df.describe()

,Año,Temperatura Máxima,Temperatura Mínima,Temperatura promedio
count,180.000000,180.000000,180.000000,180.000000
mean,2014.077778,24.671667,5.172222,14.396833
std,4.331843,1.692714,1.860830,0.663212
min,2007.000000,19.800000,-4.600000,11.430000
25%,2010.000000,23.575000,4.200000,14.047500
50%,2014.000000,24.550000,5.300000,14.395000
75%,2018.000000,25.800000,6.500000,14.760000
max,2021.000000,29.700000,9.100000,16.190000

In [18]:
df.columns

Index(['Año', 'Mes', 'Temperatura Máxima', 'Temperatura Mínima',
       'Temperatura promedio', 'Enos '],
      dtype='object')

In [15]:
print('minimum year: ', df.Año.min())
print('maximun year: ',df.Año.max())

minimum duration:  2007
maximun duration:  2021

In [20]:
print('minimum temperature: ', df['Temperatura Mínima'].min())
print('maximun temperature: ',df['Temperatura Máxima'].max())
print('average temperature: ',df['Temperatura promedio'].mean())

minimum temperature:  -4.6
maximun temperature:  29.7
average temperature:  14.39683333333333

In [21]:
df['Enos '].describe()

count        180
unique         3
top       Neutro
freq          82
Name: Enos , dtype: object

In [22]:
df.shape

(180, 6)

osb_temperatura dataset contains 180 records and 6 columns.