# AIMS

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import datetime
import plotly.express as px

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

import utils.paths as path
from utils.paths2 import direcciones

In [4]:
# Crear los de drive
G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones('temperature')

In [5]:
# read data
# df = pd.read_parquet(path.data_processed_dir('dataset.parquet.gzip'))
df = pd.read_parquet(G_processed/'dataset.parquet.gzip')
df.head()

        date  t_max  t_min  t_mean fenomeno
0 2007-01-01   26.4    4.4   14.11        1
1 2007-02-01   25.4   -4.6   13.48        0
2 2007-03-01   24.0    5.1   14.23        0
3 2007-04-01   23.0    6.6   14.75        0
4 2007-05-01   21.9    5.9   13.26        0